.admin-allproject-container {
    font-family: 'prompt', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    min-height: 180px;
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 40px;
    color: #000;
}

.admin-allproject-container:last-child {
    margin-bottom: 40px;
}

.allproject-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 5px;
}

.allproject-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 60%;
    /* border: 1px solid gray; */
}

.allproject-right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid gray; */
}

.allproject-title {
    font-size: 22px;
    padding-bottom: 15px;
}

.allproject-edit {
    display: flex;
    justify-content: flex-end;
}

.allproject-btn {
    font-family: 'prompt', sans-serif;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.allproject-space {
    margin: 0 8px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .admin-allproject-container {
        margin-top: 30px;
        width: 95%;
        display: flex;
        flex-direction: column;
        min-height: 240px;
    }

    .allproject-left {
        padding: 20px;
        max-width: 100%;
    }

    .allproject-right {
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 20px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
    }

    .allproject-btn {
        font-size: 14px;
    }

    .allproject-status {
        width: 8px;
        height: 8px;
    }
}