body {
    font-family: 'Prompt', sans-serif;
}

html {
    height: 100%;
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.blue-box-register {
    width: 500px;
    height: 700px;
    background-color: #03128E;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    border-radius: 20px 0 0 20px;
    position: relative;
    overflow: hidden;
    /* เพิ่ม overflow: hidden เพื่อทำให้กรอบสีดำเข้ากับกล่อง */
    border-right: none;
    /* ไม่มีกรอบทางด้านขวา */
    border: 1px solid #D9D9D9;
    /* เพิ่มกรอบสีดำรอบกล่อง */
    box-sizing: border-box;
    /* ให้ขอบอยู่ภายในขนาดกล่อง */
}

.white-box-register {
    width: 500px;
    height: 700px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 24px;
    border-radius: 0 20px 20px 0;
    position: relative;
    border-left: none;
    /* ไม่มีกรอบทางด้านขวา */
    overflow: hidden;
    /* เพิ่ม overflow: hidden เพื่อทำให้กรอบสีดำเข้ากับกล่อง */
    border: 1px solid #D9D9D9;
    /* เพิ่มกรอบสีดำรอบกล่อง */
    box-sizing: border-box;
    /* ให้ขอบอยู่ภายในขนาดกล่อง */
}

.logo-mb-register {
    top: 50%;
    width: 200px;
    height: 100px;
    display: none;
}

.logo-pc-register {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}

.head-register {
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
    font-weight: lighter;
    display: block;
    margin-top: 70px;
    line-height: 3.5;
}


/*เพิ่มจากหวาน*/

.confirm-button {
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    background-color: #038E7F;
    font-size: 15px;
    color: white;
    width: 400px;
    height: 40px;
    margin-left: 50px;
    margin-top: 20px;
    display: block;
}

.confirm-button:hover {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    color: #038E7F;
    background-color: #fff;
    border: 3px solid #038E7F;
}

.terms-condition {
    font-size: 15px;
    line-height: 1;
    text-align: left;
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
}

.terms-text {
    margin-left: 5px;
    color: #999;
}

.name-input,
.surname-input,
.tele-input,
.email-input,
.password-input-register,
.confirm-pass-input {
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
    font-family: 'Prompt', sans-serif;
}

.name-input::placeholder,
.surname-input::placeholder,
.tele-input::placeholder,
.email-input::placeholder,
.password-input-register::placeholder,
.confirm-pass-input::placeholder {
    color: #999;
}

.name-input:focus,
.surname-input:focus,
.tele-input:focus,
.email-input:focus,
.password-input-register:focus,
.confirm-pass-input:focus {
    border-color: #007bff;
}

/* ใช้ media query เพื่อปรับขนาดให้ responsive */
/* Extra Small Devices */
@media screen and (max-width: 280px) {
    .white-box-register {
        width: 80%;
        height: 450px;
        border-radius: 20px;
    }

    .app {
        display: flex;
        flex-direction: column;
    }

    .logo-mb-register {
        display: flex;
        max-width: 200px;
        max-height: 60px;
    }

    .logo-pc-register {
        display: none;
    }

    .blue-box-register {
        display: none;
        width: 80%;
        height: 70px;
        border-radius: 20px 20px 0 0;
        justify-content: center;
        align-items: center;

    }

    .head-register {
        font-size: 16px;
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .name-input,
    .surname-input,
    .tele-input,
    .email-input {
        width: 200px;
        height: 40px;
    }

    .password-input-register,
    .confirm-pass-input {
        width: 200px;
        height: 40px;
        margin-top: 6px;
    }

    .show-password-button {
        width: 80px;
        height: 40px;
        margin-top: 6px;
    }

    .password-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
    }

    .confirm-button {
        display: flex;
        font-size: 14px;
        width: 100px;
        height: 40px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 476px) and (max-width: 476px) {
    .white-box-register {
        width: 80%;
        height: 450px;
        border-radius: 0 0 20px 20px;
    }

    .app {
        display: flex;
        flex-direction: column;
    }

    .logo-mb-register {
        display: flex;
        max-width: 200px;
        max-height: 60px;
    }

    .logo-pc-register {
        display: none;
    }

    .blue-box-register {
        display: flex;
        width: 80%;
        height: 70px;
        border-radius: 20px 20px 0 0;
        justify-content: center;
        align-items: center;
    }

    .head-register {
        font-size: 16px;
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .name-input,
    .surname-input,
    .tele-input,
    .email-input {
        width: 250px;
        height: 40px;
    }

    .password-input-register,
    .confirm-pass-input {
        width: 250px;
        height: 40px;
        margin-top: 6px;
    }

    .show-password-button {
        width: 80px;
        height: 40px;
        margin-top: 6px;
    }

    .password-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
    }

    .confirm-button {
        display: flex;
        font-size: 14px;
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }
}

/* Small Devices (Tablets): */
@media screen and (min-width: 477px) and (max-width: 768px) {
    .white-box-register {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 450px;
        border-radius: 0 0 20px 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .app {
        display: flex;
        flex-direction: column;
    }

    .logo-mb-register {
        display: flex;
        max-width: 200px;
        max-height: 60px;
    }

    .logo-pc-register {
        display: none;
    }

    .blue-box-register {
        display: flex;
        width: 60%;
        height: 70px;
        border-radius: 20px 20px 0 0;
        justify-content: center;
        align-items: center;
    }

    .head-register {
        font-size: 16px;
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .name-input,
    .surname-input,
    .tele-input,
    .email-input {
        width: 250px;
        height: 40px;
    }

    .password-input-register,
    .confirm-pass-input {
        width: 250px;
        height: 40px;
    }

    .show-password-button {
        width: 80px;
        height: 40px;
    }

    .password-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .confirm-button {
        display: flex;
        font-size: 14px;
        width: 150px;
        height: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
}

/* Medium Devices (Laptops and Desktops): */
@media screen and (min-width: 769px) and (max-width: 992px) {

    .blue-box-register {
        width: 450px;
        height: 600px;
        margin-left: 30px;
    }

    .white-box-register {
        width: 450px;
        height: 600px;
        margin-right: 30px;
    }

    .head-register {
        font-size: 20px;
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }

    .name-input,
    .surname-input,
    .tele-input,
    .email-input {
        width: 300px;
        height: 45px;
    }

    .password-input-register,
    .confirm-pass-input {
        width: 300px;
        height: 45px;
    }

    .show-password-button {
        width: 30px;
        height: 45px;
    }

    .password-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .confirm-button {
        font-size: 14px;
        width: 150px;
        height: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

/* Large Devices (Desktops): */
@media screen and (min-width: 993px) and (max-width: 1200px) {

    .blue-box-register,
    .white-box-register {
        width: 450px;
        height: 600px;
    }

    .head-text {
        font-size: 24px;
        margin-top: 60px;
        margin-left: 25px;
    }

    .content-text {
        font-size: 24px;
        margin-left: 25px;
    }

    .confirm-button {
        margin-right: 30px;
        right: 0;
        width: 390px;
        padding: 5px 10px;
        margin-bottom: 0px;
        margin-top: 15px;
        right: 0px;
    }
}