.UserContainer {
  background-image: url("./../../../assets/images/bg-information.png");
  /* Path to your background image */
  background-size: cover;
  /* Adjust as needed */
  background-repeat: repeat;
  /* Adjust as needed */

  /* Other background properties can be added here */
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin: 0 0 0 0;

  width: 100%;
}


.Sidebar {
  margin-top: 150px;
  margin-left: 1rem;

  width: 300px;
  height: 700px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

}


.Profilebar {
  margin-top: 120px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  width: 1000px;
  height: 700px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: center; /* ตรงกลางในแนวตั้ง */
  align-items: center; /* ตรงกลางในแนวนอน */


}

.Profile-circle {
  width: 95px;
  height: 95px;
  text-align: center;

  background-color: gray;
  border-radius: 100px
}

.Profile-fix-circle {
  margin-left: 4rem;
  width: 30px;
  height: 30px;
  text-align: center;

  background-color: #d9d9d9;
  border-radius: 100px
}

.button {
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  width: 200px;
  height: 20px;
  align-items: center;

  /* Define hover styles here */
  transition: background-color 0.3s;
  /* Add a smooth transition effect */
}

.select-button {
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  width: 200px;
  height: 32px;
  align-items: center;

}

.user-icon {
  margin-top: 20px;
}

.camera-icon {
  margin-top: 5px;
}

.button-icon {
  margin-left: 10px;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Stack items vertically */
  }

  .sidebar {
    margin-left: 10px;
    width: 95%;
    /* Full width */
  }

  .profilebar {
    margin-left: 10px;
    width: 95%;
    /* Full width */
  }
}

.Input-container {
  position: relative; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  width: 90%;
  align-items: center;
  margin-left: 10px;
}

.ConfirmInput-info {
  width: 100%;
  height: 54px;
  /* margin: 10px 0; */
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  padding-left: 35px;
}

.ConfirmInput-info::placeholder {
  color: #999;
}

.ConfirmInput-info:focus {
  outline: none;
  border-color: #007bff;
}

.required-label {
  color: red; /* Customize the color */
  font-size: 20px; /* Customize the font size */
  margin-right: 4px; 
  position: absolute;
  top: 50%;
  left:27px; 
  transform: translateY(-50%);
}

.pressed-button {
  background-color: #03128E;
  /* Set the background color for the pressed button */
  color: white;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  width: 360;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-items: center;
  /* Set the text color for the pressed button */
}


.headText {
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
  font-weight: lighter;
  display: block;
  margin-top:5px;
  line-height: 3.5;
}

.setInfoButton {
  font-family: 'Prompt', sans-serif;
  border-radius: 5px;
  background-color: #038E7F;
  font-size: 15px;
  color: white;
  width: 400px;
  height: 40px;
  margin-left: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setInfoButton:hover {
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-select {
  display: none;
  position: absolute;
  left: -100%; /* Adjust this value to position it correctly */
  background-color: #f1f1f1;
  min-width: 160px;
  border: 1px solid #ccc;
  z-index: 1;
}

.custom-select select {
  background-color: transparent;
  width: 100%;
  padding: 12px 20px 12px 10px;
  border: none;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}


.AddressInput-info {
  width: 450px;
  height: 100px;
  /* margin: 10px 0; */
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  padding-left: 35px;
}

.AddressInput-info::placeholder {
  color: #999;
}

.AddressInput-info:focus {
  outline: none;
  border-color: #007bff;
}

