.admin-updateproject-container {
    font-family: 'prompt', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 40px;
    color: #000;
}

.inputIMG{
    display: flex;
}

.admin-updateproject-container p {
    padding-bottom: 0;
}

.admin-updateproject-container:last-child {
    margin-bottom: 40px;
}

.admin-updateproject-container .project-title {
    font-size: 20px;
}

.admin-updateproject-container .edit-btn {
    font-family: 'prompt', sans-serif;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.admin-updateproject-container .space {
    margin: 0 8px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .admin-updateproject-container {
        margin-top: 30px;
        width: 95%;
        flex-direction: column;
        min-height: 180px;
    }

    .admin-updateproject-container .info-left {
        max-width: 100%;
    }

    .admin-updateproject-container .info-right {
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .admin-updateproject-container .edit-btn {
        font-size: 14px;
    }

    .admin-updateproject-container .status {
        width: 8px;
        height: 8px;
    }
}