.mim-Userfooter {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  height: 100vh;
  background-color: #03128E;
  justify-content: space-evenly;
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  flex-wrap: wrap; /* เพิ่ม flex-wrap เพื่อให้รายการแสดงผลเป็นสองแถวหรือมากกว่าก็ได้ */
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {

  .mim-Userfooter {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  
}
