.Admincontainer {
  background-image: url("./../../../assets/images/bg-information.png"); 
  background-repeat: repeat; /* Adjust as needed */
  background-size: cover; /* Cover the entire page */
  background-attachment: fixed; /* Fixed background image */
  background-position: center; /* Center the image horizontally and vertically */
  flex-direction: row;
  justify-content:space-evenly; 
  display: flex;
  padding-top: 3px;

  width: 100%;
}


.admin-sidebar {
  margin-top: 50px;
  margin-left: 2rem;

  width: 300px;
  height: 340px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;

}

.admin-profilebar {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 2rem;
  width: 1000px;
  height: 700px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;

}

.profile-circle {
  width: 95px;
  height: 95px;
  text-align: center;

  background-color: gray;
  border-radius: 100px
}

.profile-fix-circle {
  margin-left: 4rem;
  width: 30px;
  height: 30px;
  text-align: center;

  background-color: #d9d9d9;
  border-radius: 100px
}

.admin-botton {
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  width: 100%;
  height: 32px;
  align-items: center;
  display: flex;
  flex-direction: row;
}



.admin-select-button {
  border-radius: 10px;
  background-color: #03128E;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: white;
  max-width: 300px;
  height: 32px;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.user-icon {
  margin-top: 20px;
}

.camera-icon {
  margin-top: 5px;
}

.button-icon{
  margin-left: 10px;
  margin-top: 5px;
}

.over {
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .Admincontainer {
    flex-direction: column;
    /* Stack items vertically */
  }

  .admin-sidebar {
    margin-left: 10px;
    width: 95%;
    /* Full width */
  }

  .admin-profilebar {
    margin-left: 10px;
    width: 95%;
    /* Full width */
  }
}