.projectUsercontainer{
  background-image: url("./../../../assets/images/bg-information.png"); 
  background-repeat: repeat; /* Adjust as needed */
  background-size: cover; /* Cover the entire page */
  background-attachment: fixed; /* Fixed background image */
  background-position: center; /* Center the image horizontally and vertically */
  flex-direction: column;
  justify-content:space-evenly; 
  display: flex;

  height: 85dvh;


  width: 100%;
}

.UserHeaderLogo{
  width: 252px;
  height: 60px; 
}

.UserHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:white;
}


.mim-container{
  padding-top: 20px;
  display: flex;
  width: 900px;

  flex-direction: row;
  text-align: left;

}

.mim-container2{
  padding-top: 20px;
  display: flex;
  width: 150px;

  flex-direction: row;
  justify-content: space-evenly;
}


.titletext-container {
  display: flex; 
  align-items: center; 
  margin-right: 10px;
}
.titletext{
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  font-size: 50px;
  display: inline;
}

.titletext2{
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  font-size: 30px;
}

.admin-project-container {
  font-family: 'prompt', sans-serif;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
  min-height: 180px;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 40px;
  margin-left: 40px;
  color: #000;
}

.admin-project-container:last-child {
  margin-bottom: 40px;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 5px;
}

.info-left {
  padding: 25px;
  max-width: 60%;
  /* border: 1px solid gray; */
}

.info-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid gray; */
}

.project-title {
  font-size: 22px;
  padding-bottom: 15px;
}

.edit {
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  font-family: 'prompt', sans-serif;
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
}

.space {
  margin: 0 8px;
  padding: 0;
}


.MimprojectUsercontainer{
  background-image: url("./../../../assets/images/bg-information.png"); 
  background-repeat: repeat; /* Adjust as needed */
  background-size: cover; /* Cover the entire page */
  background-attachment: fixed; /* Fixed background image */
  background-position: center; /* Center the image horizontally and vertically */
  flex-direction: row;
  justify-content:space-evenly; 
  display: flex;
  padding-top: 40px;

  width: 100%;
}

.project-sidebar{
    margin-left: 2rem;

    width: 300px;
    height: 340px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
}

.grid-container {
  width: 700px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  margin-left: 20px;
  justify-content: space-between;
}
.grid-item {
  width: 400px;

  color:#100F0D;
  font-size: 30px;
  justify-content: space-between;
  text-align: center;
  margin-right: 20px;

}

.grid-container2 {
  display: grid;
  row-gap: 10px;
  margin-left: 20px;
  grid-template-columns: auto ;

  padding: 10px;
}
.grid-item2 {

  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.project-profilebar{
  margin-bottom: 90px;
  width: 1000px;
  height: 580px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  font-family: 'Prompt', sans-serif;
  color: #e1e1e1;

}

.profile-circle{
  width: 95px;
  height: 95px;
  text-align: center;

  background-color: gray;
  border-radius: 100px
}

.profile-fix-circle{
  margin-left: 4rem;
  width: 30px;
  height: 30px;
  text-align: center;

  background-color: #d9d9d9;
  border-radius: 100px
}


.Userselect-button{
  border-radius: 10px;
  background-color: #03128E;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: white;
  width: 200px;
  height: 32px;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.Userbutton{
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  width: 200px;
  height: 32px;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.assign1-confirm-button{

  padding-top: 10px;
  border-radius: 10px;
  background-color: #038E7F;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  color: #ffffff;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}


.addproject{
  margin-left: 45rem;
}

.adproject-button{
  border-radius: 10px;
  background-color: #038E7F;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: white;
  width: 150px;
  height: 32px;
  align-items: center;
  text-align: center;
  margin-left: 45rem;
  padding-top: 3px;

}

.user-icon{
  margin-top: 20px;
}

.profile-graps{
  margin-top: 3px;
}

.camera-icon{
  margin-top: 5px;
}

.button-icon{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.mim-Userfooter {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  height: 100px;
  background-color: #03128E;
  justify-content: space-evenly;
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  flex-wrap: wrap; /* เพิ่ม flex-wrap เพื่อให้รายการแสดงผลเป็นสองแถวหรือมากกว่าก็ได้ */
}



@media (max-width: 768px) {
  .projectUsercontainer {
    flex-direction: column; /* Stack items vertically */
    height: 100vh;
  }
  .project-sidebar {
    margin-left: 10px;
    width: 95%; /* Full width */
  }

  .mim-container{
    padding-top: 20px;
    display: flex;
    width: 95%;

    flex-direction: row;
    justify-content: space-evenly;
  
  }
  
  .mim-container2{
    padding-top: 20px;
    display: flex;
    width: 150px;
 
    flex-direction: row;
    justify-content: space-evenly;
  }

  .MimprojectUsercontainer{
    flex-direction: column;
    justify-content:space-evenly; 
    display: flex;
    padding-top: 40px;
  
    width: 100%;
  }
  .project-profilebar {
    margin-left: 10px;
    font-size: 10px;
    width: 95%;
    font-size: 30px;
    align-items: center; /* Full width */
    text-align: center;
  }
  .addproject{
    margin-right: 45rem;
  }

  .UserHeader {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .mim-Userfooter {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  
}

.profile-gridHvan{
  position: relative; 
  display: grid;
  grid-template-columns:1fr 1fr; /* สองคอลัมน์ที่มีความกว้างเท่ากัน */
  gap: 20px; /*ปรับช่องว่างระหว่างรายการ */
  align-items: center; /* จัดตำแหน่งรายการที่ด้านบนของแต่ละคอลัมน์ */
  width: 100%;
}

.ProfileSettingHvan {
  width: 100%;
  height: 54px;
  margin: 10px 0;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  padding-left: 35px;
}

.ProfileSettingHvan::placeholder {
  color: #999;
}

.ProfileSettingHvan:focus {
  outline: none;
  border-color: #007bff;
}

.text-inputHvan{
  width: 400px;
  height:60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  padding-top: 10px;
  padding-left: 10px;
}

.zip-inputHvan {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}

.text-input-provincesHvan {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}

.district-inputHvan {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;

  margin-right: 10px;
  padding-top: 7px;
  padding-left: 10px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;

}


.phone-inputHvan {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}

.address-input {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}


.address-inputHvan {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}


.text-inputProject {
  padding-top: 10px;
  padding-left: 10px;
  width: 190px;
  height: 70px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
}

.linkgoogleInput {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}

.blueprintProfile {
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: row;
  text-align: left;

  border-radius: 10px;
  outline: none;
  align-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px; /* ลบ margin-bottom เพื่อลบระยะห่างระหว่าง TextInput */
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
}