.content-full {
  /* border: 1px solid black; */
  padding-block: 80px;
  margin: 0 auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.content-full pre {
  margin-top: 10px;
  color: black;
  white-space: pre-wrap;
}

.content-full img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
  margin-block: 25px;
}

@media screen and (max-width: 768px) {
  .content-full {
   width: 90vw;
  }
}