.HomeGURUContainer {
  padding: 70px 0;
  background: radial-gradient(at bottom left, rgb(189, 189, 255), white, white);
}

.HomeGURUContent {
  font-family: 'prompt', sans-serif;
  color: black;
  /* Take up remaining space */
  padding-left: 80px;
  padding-bottom: 40px;
  font-size: 40px;
}

@media screen and (max-width: 580px) {
  .HomeGURUContent {
    text-align: center;
    padding-left: 0;
  }
}