
.addproject{
  margin-left: 45rem;
}

.adproject-button{
  border-radius: 10px;
  background-color: #038E7F;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: white;
  width: 150px;
  height: 32px;
  align-items: center;
  text-align: center;

  padding-top: 3px;

}

.normaltext{
  font-size: 50px;
  color: #d9d9d9;
}



@media (max-width: 768px) {

  .normaltext{
    font-size: 20px;
  }
  .projectUsercontainer {
    flex-direction: column; /* Stack items vertically */
  }
  .project-sidebar {
    margin-left: 10px;
    width: 95%; /* Full width */
  }

  .mim-container{
    padding-top: 20px;
    display: flex;
    width: 95%;

    flex-direction: row;
    justify-content: space-evenly;
  
  }
  
  .mim-container2{
    padding-top: 20px;
    display: flex;
    width: 150px;
 
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  

  .MimprojectUsercontainer{

    flex-direction: column;
    justify-content:space-evenly; 
    display: flex;
    padding-top: 40px;
  
    width: 100%;
  }
  .project-profilebar {
    margin-left: 10px;
    width: 95%;
    font-size: 20px;
    align-items: center; /* Full width */
    text-align: center;
  }
  .addproject{
    margin-right: 45rem;
  }

  .UserHeader {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .mim-Userfooter {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  
}
