.footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #03128E;
  justify-content: space-evenly;

  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 13px;

  z-index: 1000;

  flex-wrap: wrap; /* Add this line to wrap items on smaller screens */
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
