.rootNav{
  background-color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logoLandingStyle{
  display: flex;
  width: 262px;
  height: 60px;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.posNav{
  /* border: 5px solid pink; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftMenu{
  padding: 5px 0 0 20px;
  /* background-color: gray; */
}

.rightMenu{
  /* background-color: green; */
}

.navBar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navBar li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #100F0D;
}

.lineButton{
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #fff;

  font-size: 1.3rem;
  font-family: "Prompt", sans-serif;
  color: #100F0D;

  width: 180px;
  height: 40px;
}
.lineButton:hover{
  cursor: pointer;
}

.solidButton{
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #038E7F;
  
  color: white;
  font-size: 1.3rem;
  font-family: "Prompt", sans-serif;
  
  width: 180px;
  height: 40px;
}
.solidButton:hover{
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #03128E;
  transition: 0.4s;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links.open .lineButton{
  background-color: #f1f1f1;
}

.navbar{
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open{
    z-index: 1000;
  }

  .navBar {
    flex-direction: column;
    padding: 0;
    margin: 0;
    left: 0;
  }

  .posNav{
    justify-content: flex-start;
  }

  .leftMenu{
    padding: 0;
    margin: 0;
    left: 0;
  }
}