
.HomeGURUContainer {
  padding: 70px 0;
  background: radial-gradient(at bottom left,rgb(189, 189, 255),white ,white);
}

.HomeGURUContent {
  font-family: 'prompt', sans-serif;
  color: black; /* Take up remaining space */
  padding-left: 80px;
  padding-bottom: 40px;
  font-size: 40px;
}

.content {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
  justify-items: center;
  margin: 0 auto;
  /* border: 1px solid black; */
}

@media screen and (max-width: 580px) {
  .HomeGURUContent {
    text-align: center;
    padding-left: 0;
  }
}
